<h1>User Details</h1>
<table style="width:100px">
        <thead>
            <tr>
                <th style="padding: 0px 15px">Name</th>&nbsp;
                <th style="padding: 0px 15px">Email</th>&nbsp;
                <th style="padding: 0px 15px">Roles</th>
            </tr>
        </thead>
        <tbody *ngFor="let d of data">
            <tr>
                <td style="padding: 0px 15px">{{d.name}}</td>&nbsp;
                <td style="padding: 0px 15px">{{d.email}}</td>&nbsp;
                <td style="padding: 0px 15px">{{d.roles}}</td>
            </tr>
        </tbody>
    
    </table>