<div class="row">
        <div class="col-md-4 offset-md-4">
            <h1>Create User</h1><br>
            <form [formGroup]="createUser">
                <div class="form-group">
                    <label for="UserName">Name</label>
                    <input type='text' id="name" class="form-control" 
                    [ngClass] = "{'is-invalid':createUser.get('name').touched && createUser.get('name').invalid}" formControlName="name" >
                    <span class="invalid-feedback">Name cannot be blank</span>
                </div>
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="email" id="email" class="form-control" [ngClass] = "{'is-invalid': createUser.get('email').touched && createUser.get('email').invalid}"
                    formControlName="email">
                    <span class="invalid-feedback">Email cannot be blank</span>
                </div>
                <div class="form-group">
                        <label for="roles">Roles(can enter multiple seperated by commas)</label>
                        <input type="text" id="roles" class="form-control" [ngClass] = "{'is-invalid': createUser.get('roles').touched && createUser.get('roles').invalid}"
                        formControlName="roles">
                        <span class="invalid-feedback">Roles cannot be blank</span>
                    </div>
                <button (click)="handleSubmit()" class="btn btn-primary btn-lg btn-block">Create User</button><br>
            </form>
        </div>
    </div>
    
