<div class="row">
        <div class="col-md-4 offset-md-4">
        <button routerLink="/userCreate" class="btn btn-success btn-lg btn-block">Create Contact</button><br>
        <button routerLink="/userUpdate" class="btn btn-danger btn-lg btn-block">Update Contact</button><br>
        <button routerLink="/userView" class="btn btn-dark btn-lg btn-block">View Contact Information</button><br>
        <button routerLink="/userDelete" class="btn btn-info btn-lg btn-block">Delete Contact</button><br>
        </div>     
 </div> 
 <button routerLink="/loginUser" (click)="authUserService.logout()" class="btn btn-danger">Logout</button>
