<div class="row">
        <div class="col-md-4 offset-md-4">
            <h1>Delete User</h1><br>
            <form [formGroup]="deleteUser">
                <div class="form-group">
                    <label for="email">Email of the user you want to delete</label>
                    <input type="email" id="email" class="form-control" [ngClass] = "{'is-invalid': deleteUser.get('email').touched && deleteUser.get('email').invalid}"
                    formControlName="email">
                    <span class="invalid-feedback">Email cannot be blank</span>
                </div>
                <button (click)="handleSubmit()" class="btn btn-primary btn-lg btn-block">Delete User</button><br>
            </form>
        </div>
    </div>
    

